---
import { Picture } from "astro:assets";
import main from "../../assets/main.jpeg";
import AmenitiesSection from "../../components/AmenitiesSection.astro";
import Hero from "../../components/Hero.astro";
import ImageSlider from "../../components/ImageSlider.astro";
import { useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = "en";
const t = useTranslations(lang);
---

<Layout title={t("site.title")} description={t("site.description")} lang={lang}>
  <Hero />

  <section class="py-16">
    <div
      class="container max-w-5xl text-center mx-auto px-4 flex flex-col items-center gap-4"
    >
    <h2 class="text-3xl font-bold text-gray-800 mb-6">
      {t("home.description")}
    </h2>
    <p class="text-gray-600 text-xl mb-6">
      {t("home.description2")}
    </p>
      <Picture
        src={main}
        alt="Background"
        class="w-full h-full object-cover top-0"
      />
    </div>
  </section>

  <AmenitiesSection />

  <ImageSlider />
</Layout>
