---

---

<div class="w-full px-3 max-w-[350px] lg:max-w-[500px] mx-auto lg:mx-0">
  <p class="font-bold block lg:inline-block font-luxurious-script text-4xl lg:text-6xl px-2 lg:px-0">Casa</p>
  <p
    class="font-bold block lg:inline-block font-luxurious-script text-7xl lg:text-8xl leading-[0.7] lg:leading-[0.8] px-6 lg:px-3"
  >
    Don Jesús
  </p>
  <p class="text-base lg:text-xl text-right">San Felipe B.C. México</p>
</div>
