---

---

<p class="text-[45px] leading-[40px]">
  Casa
  <span class="block text-[65px] leading-[70px] px-9">Don Jesús</span>
  <span class="block text-[20px] leading-[30px] text-right">
    San Felipe B.C. México
  </span>
</p>
