---

---

<div class="w-full px-3 max-w-[400px]">
  <p class="font-bold font-luxurious-script text-4xl lg:text-5xl px-2">Casa</p>
  <p class="font-bold font-luxurious-script text-7xl lg:text-8xl px-7">
    Don Jesús
  </p>
  <p class="font-luxurious-script text-3xl lg:text-4xl text-right">
    San Felipe B.C. México
  </p>
</div>
