---
import Layout from "../../layouts/Layout.astro";
import ContactForm from "../../components/ContactForm.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import PriceCards from "../../components/PriceCards.astro";

const lang = getLangFromUrl(Astro.url) as "en" | "es";
const t = useTranslations(lang);
---

<Layout title="Contacto" description="Contacto" lang="es">
  <div class="container mx-auto px-4 py-12">
    <h2 class="text-2xl font-bold mb-8 text-center">{t("contact.title")}</h2>
    <p class="text-center mb-8">{t("contact.subtitle")}</p>
    <PriceCards />
    <ContactForm />
  </div>
</Layout>
